<ion-view view-title="Account">
  <ion-content>
    <div class="row">
    	<div class="col">
    		Hello, {{ fullname }}
    	</div>
    </div>
    <div class="row head-area">
      	<div class="col" style="text-align:center;">
        	<img ng-src="{{ profilepic }}" ng-click="getImageGallery()" style="max-width:150px;">
        </div>
    </div>
  </ion-content>
</ion-view>
