<ion-view view-title="{{ title }}">
  
  <ion-content class="padding">
    
    <div class="row">
    	<div class="col col-50">
    		<button class="button" style="font-size:20px;width: 100%;min-height:140px;" ng-click="goToTripMap()">
    			<span class="ion-map"></span><br>
    			Attraction
    		</button>
    	</div>
    	<div class="col col-50">
    		<button class="button" style="font-size:20px;width: 100%;min-height:140px;" ng-click="goToTripHotel('{{ tripID }}')">
    			<span class="ion-ios-home"></span><br>
    			Hotel
    		</button>
    	</div>
    </div>

  </ion-content>
</ion-view>
