<ion-modal-view>
  
  <ion-header-bar no-tap-scroll="true">
    <button class="button icon ion-chevron-left" ng-click="back()"></button>
    <div style="padding:7px;">New Trip</div>
  </ion-header-bar>

  <ion-content>
    
    <div class="list">
      <label class="item item-input">
        Destination: {{ trips.destination }}
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Trip Name" ng-model="trips.tripName">
      </label>
      
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Start Date" ng-model="trips.startdate">
        </label>
        <button class="button button-small" ng-click="pickStartDate()">
          Select
        </button>
      </div>

      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="End Date" ng-model="trips.enddate">
        </label>
        <button class="button button-small" ng-click="pickEndDate()">
          Select
        </button>
      </div>

    </div>

    <div class="padding">
      <button class="button button-block button-positive activated" ng-click="submitTrip()">Submit</button>
    </div>

  </ion-content>

</ion-modal-view>